fastapi==0.115.4
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
pydantic==2.9.2
croniter==3.0.3
APScheduler==3.10.4
mysql-connector-python>=8.0.0
requests==2.32.3
filelock==3.13.1
websocket-client==1.8.0
pandas==2.1.4
